        <div>     
      <div class="listaMenu">
      <div class="pantalla">

          <div class="imagen">
              <div class="hero-centro3">
                  <div class="videoExcursion">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{capitulo.urlId}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                  <hgroup>
                      <h2>{{capitulo.titulo}}</h2>
                      <div>
                          <h3>DESCRIPCION</h3>
                          <p>{{excursion.descripcion}}</p>
                      </div>
                      <div>
                          <h3>CREDITOS</h3>
                          <p>{{excursion.creditos}}</p>
                      </div>
                  </hgroup>
              </div>

          </div>
      </div>
      </div>
      
      <div>
            <div>
                <div class="carousel-inner" role="listbox">
                    <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active" data-bg-video-slide="false" style="background-image: url(/img/video.png);">
                        <div class="mbr-table-cell">
                        </div>
                    </div>
                </div>

            </div>
        </div>

      <div class="dere-arriba">
        <a href='/capitulos_general/{{../usuario.id}}/{{id}}' class="jugar"><i class="fas fa-arrow-left fa-3x"></i></a> 
        <a href="#" class="jugar" role="button" id='play' onclick="audio()"><i class="fas fa-music fa-3x"><audio src="/audio/instruccion_actividad.mp3" autoplay id="audioPlayer"></audio></i></a>
        <a href="/tarea_general/{{capitulo.id}}/{{excursion.id}}" class="jugar"><i class="fas fa-pencil-alt"></i></a> 
        </div>
        </div>

  <audio src="/audio/instruccion_actividad.mp3" autoplay id="audioPlayer"></audio>

  <script>
      //funcion audio
       function audio() {
           var audio = document.getElementById("audioPlayer");
            var button = document.getElementById("play");
    
          audio.play();
        
       }
    </script>
  
