<!--Modal-->
<div class="modal fade" id="respuesta" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h1>La respuesta era:</h1>
            <img src="" id="img_respuesta" width="300" height="300"/>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="regresar()">OK</button>
        </div>
    </div>
      
</div>
<!--Fin Modal-->

<div>
  <div class="imagen">
      <div class="hero-centro2 ">
         <!--<h2>TAREA {{pregunta.pregunta}}</h2>-->
         <h4 id="puntaje"></h4> 
          <div id="tablaUsuarioExcursiones" >
            <div class="responsive gallery2">
              <button class="btnExcursionActividad" type="button" onclick="verificarRespuesta(1)">
                <img class="portadaExcursionJuego" src="{{pregunta.img_opcion_1}}" alt="">
              </button>
            </div>
            <div class="responsive gallery2">
              <button class="btnExcursionActividad" type="button" onclick="verificarRespuesta(2)">
                <img class="portadaExcursionJuego" src="{{pregunta.img_opcion_2}}" alt="">
              </button>
            </div>
            <div class="responsive gallery2">
              <button class="btnExcursionActividad" type="button" onclick="verificarRespuesta(3)">
                <img class="portadaExcursionJuego" src="{{pregunta.img_opcion_3}}" alt="">
              </button>
            </div>
          </div>
      </div>
      </div>  
    </div>

    <audio src="{{pregunta.audio_pregunta}}" autoplay id="audioPlayer"></audio>

    <div>
            <div>
                <div class="carousel-inner" role="listbox">
                    <div class="mbr-section mbr-section-hero carousel-item dark center mbr-section-full active" data-bg-video-slide="false" style="background-image: url(/img/video.png);">
                        <div class="mbr-table-cell">
                        </div>
                    </div>
                </div>

            </div>
        </div>

      <div class="dere-arriba">
        <a onclick="regresar();" class="jugar" role="button"><i class="fas fa-arrow-left fa-3x"></i></a> 
        <a href="#" class="jugar" role="button" id='play' onclick="audio()"><i class="fas fa-music fa-3x"><audio src="{{pregunta.audio_pregunta}}" autoplay id="audioPlayer"></audio></i></a> 
      </div>   

    <script>
      
      //funcion audio
       function audio() {
           var audio = document.getElementById("audioPlayer");
            var button = document.getElementById("play");
    
          audio.play();
        
       }

      //Funcion que comprueba la respuesta correcta
      function verificarRespuesta(respuesta) {

        if({{pregunta.respuesta}} == respuesta) {
          console.log("Acertaste")

          $("#audioPlayer").attr("src", '/audio/aplausos.mp3');
          var audio = $("#audioPlayer")[0];
          audio.load();
          audio.play();

          setTimeout(
            function() {
              window.history.back();
            },
          3000);

        }else{

          console.log("Respuesta incorrecta");

          $("#audioPlayer").attr("src", '/audio/vuelvelo_a_intentar.mp3');
          var audio = $("#audioPlayer")[0];
          audio.load();
          audio.play();

          if({{pregunta.respuesta}} == 1){
            $("#img_respuesta").attr("src", '{{pregunta.img_opcion_1}}')
          }
          if({{pregunta.respuesta}} == 2){
            $("#img_respuesta").attr("src", '{{pregunta.img_opcion_2}}')
          }
          if({{pregunta.respuesta}} == 3){
            $("#img_respuesta").attr("src", '{{pregunta.img_opcion_3}}')
          }
            

          $("#respuesta").modal('show');
        }
      }
    </script>

