<script>
    if(localStorage.getItem('id_usuario') == undefined || localStorage.getItem('id_usuario') == null ) {
        window.location = "/login"
    }
</script>

<div class="navbar">
    
  <a id="salir" href="/">Cerrar sesion</a>
  <a href="/usuarios">Usuarios</a>
  <a href="/excursiones">Excursiones</a>
  <a href="/capitulos">Capitulos</a>
  <a href="/preguntas">Preguntas</a>
</div>

<div class="table">
    <div class="row">
        <div class="cell">
            
        </div>
    </div>
</div>


{{#each usuarios}}

<!--<h1>{{nombre}}</h1>
<img src="{{foto}}" alt="" width="150" height="150">

<a href="/usuarios/editar/{{id}}">Editar</a>
<a href="/usuarios/eliminar/{{id}}">Eliminar</a>-->

					<div class="table">
						<div class="row">
							<div class="cell" >
								{{nombre}}
							</div>
							<div class="cell" >
								<img src="{{foto}}" alt="" width="30%">
							</div>
							<div class="cell">
								<a href="/usuarios/editar/{{id}}">Editar</a>
							</div>
							<div class="cell">
								<a href="/usuarios/eliminar/{{id}}">Eliminar</a>
							</div>
						</div>
					</div>
               
{{/each}}



<div class="table">
    <div class="row">
        <div class="cell">
            <a href="/usuarios/agregar">Agregar</a>
        </div>
    </div>
</div>